language: node_js

node_js:
  - "stable"

sudo: required

before_install:
  - npm i -g ganache-cli
  - npm i -g truffle@4.1.13

install:
  - npm i

script:
  - TARGET=test npm run test

cache:
  directories:
    - "node_modules"
#
#notifications:
#  slack:
#    rooms:
#    - privatix:ntmw2wh4PAHoodqtMc95KFDt#dapp-tech